<!DOCTYPE html>
{% extends "audio_mp3/base.html" %}
{% load static %}
{% block page_content %}
<h1 style="text-align: center;">Songs Application</h1>
<input type="text" placeholder="Search.." id="search_term"><br>
<button type="submit" onclick="searchquery();">Submit</button>

<a href="upload_song">Upload Song</a>

<br>
    <div class="row" id='all_data'>
        {% for song in songs %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.title }}</h5>
                        <h5 class="card-title">{{ song.album }}</h5>
                        <h5 class="card-title">{{ song.artist }}</h5>
                        <!-- <p class="card-text">{{ team.club_state }}</p> -->
                        <a href="{% url 'frontend:detailpage' song.id %}"
                            class="btn btn-primary">
                                Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}